@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.interaction-logs {
  font-family: "Inter", sans-serif;
  padding: 20px;
  background-color: $primary-white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}
.description {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}
.date-filter {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}
.date-filter label {
  margin-right: 10px;
}
.date-filter input {
  padding: 5px;
}
.selected-date {
  font-size: 16px;
  margin-bottom: 20px;
  color: #333;
}
.platforms-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 by 2 layout */
  gap: 20px;
}
.platform-log {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  transition: transform 0.3s ease;
}
.platform-log.Facebook {
  background-color: #1877F2;
  color: white;
}
.platform-log.Instagram {
  background: linear-gradient(135deg, #F5599D, #F7B42C);
  color: white;
}
.platform-log.WhatsApp {
  background-color: #20af54;
  color: white;
}
.platform-log.Messenger {
  background-color: #0084FF;
  color: white;
}
.platform-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.platform-icon {
  font-size: 36px;
}
.meta-box {
  background: #F0F2F5;
  padding: 4px 8px; /* Removed padding to make it more compact */
  border-radius: 12px;
}
.count {
  font-size: 14px;
  font-weight: 600;
  color: #0078D4; /* Meta Blue */
}
.progress-bar {
  background: #E6E6E6;
  border-radius: 10px;
  height: 8px;
  margin-top: 10px;
  width: 100%;
}
.progress {
  background: #007D1E;
  height: 100%;
  border-radius: 10px;
}
.feature {
  font-size: 16px;
  margin-top: 8px;
  color: #333;
}
.last-activity {
  @include body2;
  color: $primary-white; 
  margin-top: 10px;
  display: flex;
}